@model EmpApplication.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure want to delete this?</h3>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpDept)
        </th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.EmpName)
        </td>
        <td>
            @Html.DisplayFor(model => model.EmpEmail)
        </td>
        <td>
            @Html.DisplayFor(model => model.EmpDept)
        </td>


    </tr>



</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
